@model Auction.Data.Models.User
@{
    ViewData["Title"] = "Profile";
}

<h1>My Profile</h1>

<div class="card" style="height: auto; width: 500px; text-align: center; margin-left:auto; margin-right:auto">

    @if (Model.Avatar is null)
    {
        <h4>No photo</h4>
    }
    else
    {
        <img style="width:100%" src="data:image/jpeg;base64,@(Convert.ToBase64String(@Model.Avatar))" alt="" class="img-rounded" />
    }
    <label>Full Name:</label>
    <h1>@Model.FullName</h1>

    <label>Email:</label>
    <h3>@Model.Email</h3>

    <label>Balance:</label>
    <h3>@Model.Balance $</h3>

    <label>Date Registration:</label>
    <h3>@Model.DateRegistration</h3>

    <label>Gender:</label>
    <h3>@Model.Gender</h3>
    <a class="btn btn-warning"style="color:white" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
